.welcome-header {
    padding: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.welcome-header__title {
    margin-bottom: 40px;
    font-size: 28px;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.78;    
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
#login-form input{
    border: none;
    padding: 15px 0px;
    font-size: 17.5px;
    margin-bottom: 20px;
   
}
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#login-form input::placeholder {
    color: rgba(123, 131, 123, 0.693);
}
#login-form input:focus {
    border-color: rgba(64, 75, 73, 0.615);
}
#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 18px 0;
    border-radius: 6px;  
}
#login-form a {
    text-align: center;
    font-size: 13px;
}

#login-form a:hover {
    text-decoration:underline;
}
#guest-login {
    display: flex;
    justify-content: center;
}
#guest-login button {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    background-color: #3c65ff;
    color: white;
    padding: 20px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-weight: 550;
}